.certifications {    
    position: relative;
    color: white;
    display: flex;    
    padding: 0 3rem;
	flex-direction: column;
}

/********** Code for certifications title **********/
.certifications_tContent_text {
	margin: 4rem 0 0rem;
}

.certifications_tContent_text > p {
	position: relative;
	font-size: 170px;
	color: transparent;
	-webkit-text-stroke: 1px white;
	font-weight: bold;
	text-transform: uppercase;	
	width: 100%;	
	overflow-wrap: break-word;	
	overflow: hidden;
}

.certifications_tContent_text > p:before {
	position: absolute;
	width: 0;	
	content: attr(data-text);
	overflow: hidden;
	color: white;
	transition: all .3s ease-in;
}	

.certifications_tContent_text > p:nth-child(2)::before {
	transition-delay: .3s;
}

.certifications_tContent_text > p:nth-child(3)::before {
	transition-delay: .6s;
}

.certifications_tContent_text > p.active:before {
	width: 100%;
}

.certifications_tContent_text span {
	transition: color .1s;
}
.certifications_tContent_text span:hover {
	color: white;
}
/********************/
body {
	background:#EEF4FF;
	margin:0;
	font-family:sans-serif;
	color:#333;
}

.gallery h1 {
	font-size: 4rem;
	text-transform: uppercase;
	font-family: "Montserrat";
}


.gallery {
  display:flex;	
  width: 100%;  
  justify-content: space-between;
}

.left {
	width: 50%;    
    padding-right: 2rem;    
}

.right {    
	height:100vh;    	
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
    align-items: end;
}

.desktopContent {
	margin:auto;
	width:80%;
}

.desktopContentSection {    		
	display:flex;
	flex-direction:column;
	justify-content:center;
    min-height: 100vh;          
}

.desktopContentSection p {
    font-size: 1rem;
}

.desktopPhotos {
	width:40vw;
	height:60vh;
	border-radius:20px;
	position:relative;
	overflow:hidden;
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
}

/* small screen / mobile layout */
.mobileContent {
	display:none;
	width:80vw;
}

.mobilePhoto {
	width:80vw;
	height:80vw;
	margin-top:5em;
	border-radius:6vw;
}

/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
	.left {
		display:none;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
	}
}