footer {
    width: 100%;
    border-radius: 100px 100px 0 0;
    background-color: black;
    text-align: center;
    padding: 0 1.2rem;
    padding-bottom: .7rem;
    color: white;
    font-family: "Montserrat";
}

.footer_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.footer_btn-top {
    background-color: transparent;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.2rem 0 1.1rem;
    color: white;
    font-family: "Montserrat";
    display: block;
}